:host{
background-color: #16484b;
}


.title-bar{
  flex-grow: 1;
  display: flex;
  min-height: 120px;
  padding: 10px 0;

}
.title-bar img{
  height: 120px;
}
.menu-area{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-right: 20px;
}
